@model Test1.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Welcome, egineering student";
}
<h2>@ViewBag.Title.</h2>
@*<p class="text-info">
        You do not have a local username/password for this site. Add a local
        account so you can log in without an external login.
    </p>*@
@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Please select a curriculum</h4>
    <hr />@*
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>*@
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Set password" class="btn btn-default" />
            </div>
        </div>*@

    @*<div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>*@
    @**<select>

            <option value="">Computer Engineering</option> <!--En el value es que va el Post de la base de datos -->
            <option value="css">Electrical Engineering</option>
            <option value="git">Industrial Engineering</option>
            <option value="java">Mechanical Engineering</option>

        </select>*@

    <select>

        <option value="COEN">Computer Engineering</option> <!--En el value es que va el Post de la base de datos -->
        <option value="ELEN">Electrical Engineering</option>
        <option value="INGE">Industrial Engineering</option>
        <option value="MEEN">Mechanical Engineering</option>

    </select>
    <input type="submit" value="Submit">

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/bootstrap")
}
